.drugs {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3px;
}

.sensitive-text {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #33a02c; // green
    color: white;
}

.drugs-container {
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-flex;
}

.resistant-text {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ee3424; // red
    color: white;
}

.data-source {
    margin-top: 2px;
    margin-bottom: 2px;
}
