.annotation-item-text {
    display: inline-block;
    font-size: 9px;
    width: 22px;
    cursor: default;
}

.annotation-item-error {
    width: 16px;
    height: 18px;
    float: left;
    line-height: 22px;
    display: inline-block;
}

.annotation-item {
    width: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
