.filterResetPanel {
    margin-bottom: 0 !important;
    margin-left: auto;
    border-color: #ddd !important;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1px 10px !important;
}

.removeFilterButton {
    font-size: 85% !important;
}
