*.r
*png
*eps
*pdf
*ai
*svg
*map
*min.js
*min.css
*sh
*yml
*json
*md
*bak
*txt
*gif
*pegjs
*.template
*.ejs
*.toml
*.xml
*.py
*module.scss.d.ts
**/generated/**
src/shared/lib/oql/oql-parser.js
packages/**/dist/**
yarn.lock
LICENSE
.prettierignore
.DS_Store
.gitignore
*.toml
*.maf
*properties
*.seg
end-to-end-test/local/studies/**
*.screenshottest
*.jks
*.cert
*.key
*.gmt
*.yaml
*.html
*.crt