.dataFormatHelp {
    padding: 13px;
    border-radius: 11px;
    margin-top: 10px;
    width: 100%;
    max-width: 800px;

    .dataFormatHelpBorder {
        border-left: 1px solid black;
        margin-left: 15px;
        margin-right: 15px;
    }
}
