@import 'functionalImpact';

.sift-deleterious {
    color: $high;
    font-weight: bold;
}

.sift-deleterious_low_confidence {
    color: $low;
    font-weight: bold;
}

.sift-tolerated_low_confidence,
.sift-tolerated {
    color: $neutral;
    font-weight: bold;
}

.sift-tooltip-table {
    td:first-child {
        padding-right: 5px;
    }
}
