.ci {
    &.ci-pie-chart {
        background: url('./images/study-view.svg');
        -webkit-background-size: 12px 12px;
        background-size: 12px 12px;
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: text-top;
    }
}
