/* legacy fixes */
#mutex {
    margin-top: 10px;
    .btn i {
        line-height: 1.5 !important;
    }
}

button {
    marginbottom: 0 !important;
}

.radio-inline {
    line-height: 1.42857143 !important;
}

#main_smry_info_div {
    font-size: 14px;
}

.h4 {
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: normal !important;
}
