.Checkboxes {
    display: flex;
    flex-direction: row;
    float: left;
}

.Checkboxes > * {
    margin: 0 10px !important;
}

.Tendency {
    display: flex;
    flex-direction: column;

    &.Significant {
        font-weight: bold;
    }
}
