.VAFChartControls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    > label {
        font-weight: normal;
        display: flex;
        align-items: center;
        margin-left: 30px !important;
        margin-bottom: 0 !important;
        white-space: nowrap;
    }
}
