import * as ## basename of file here ## from './## basename of file here ##';
import React from 'react';
import { assert } from 'chai';
import Enzyme, { shallow, mount } from 'enzyme';
import Adapter from 'enzyme-adapter-react-16';
import sinon from 'sinon';

Enzyme.configure({ adapter: new Adapter() });

describe('## basename of file here ##', () => {

    before(()=>{

    });

    after(()=>{

    });

    it('what does it do?', ()=>{

    });

});
