.default-cursor {
    cursor: default !important;
    height: 30px;
}

.form-select {
    display: inline-block;
    margin-left: 5px;
}

.page-number-input {
    cursor: auto !important;
    border: 1px inset;
    height: 18px;
    padding: 0 5px 0 5px;
    display: inline-block;
}

:global(.legacy) .paginationControls button i {
    line-height: 1.5;
}

.margin-right-button {
    margin-right: 15px !important;
}

.margin-left-button {
    margin-left: 15px !important;
}

.hidden-button {
    display: none !important;
}
