.oma-link {
    font-weight: normal;
}

.oma-high {
    color: #f00;
    font-weight: bold;
}

.oma-medium {
    color: #ffd700;
    font-weight: bold;
}

.oma-low {
    color: #ffd700;
    font-weight: bold;
}

.oma-neutral {
    color: #c1c1c1;
    font-weight: bold;
}

.oma-na {
    color: #808080;
    font-size: xx-small;
    text-align: center;
}

.mutation-assessor-link {
    margin-bottom: 1px;
}

.ma-icon {
    background-color: #88c;
    color: white;
    font-size: 80%;
    margin-right: 3px;
}

.ma-msa-icon {
    padding-left: 3px;
    padding-right: 3px;
}

.ma-3d-icon {
    padding-left: 6px;
    padding-right: 6px;
}

.mutation-assessor-main-img {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 5px;
}
